
global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8484
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend
  bind :8080
  default_backend webservers

backend webservers
  server s1 podinfo1:9898 check
  server s2 podinfo2:9898 check
  server s3 podinfo3:9898 check
